<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="sign-in-form" method="POST">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br>
        <!-- <label>role</label>
        <select name="role" id="role">
          <option value="student">student</option>
          <option value="staff">staff</option>
          <option value="admin">admin</option>
        </select>
        <br> -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>